<a href="https://colab.research.google.com/github/vridhi-narang/CW_MTECHDS_SEM3_AI/blob/master/Classroom_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd

In [6]:
df = pd.read_csv('/content/oilpriceindex.csv')

In [7]:
df.head()

         DATE    WTI  BRENT   INR  NIFTY
0  01-01-1990  22.86  21.25  35.6   0.44
1  02-01-1990  22.11  19.81  35.6   2.45
2  03-01-1990    NaN  18.39  35.9  -0.28
3  04-01-1990  18.43  16.61  36.3  -6.18
4  05-01-1990  18.20  16.35  36.3  -1.62

In [8]:
c = input("Enter the percentage for the split for training dataset eg: 80:")

Enter the percentage for the split for training dataset eg: 80:80

In [9]:
from sklearn.model_selection import train_test_split

In [16]:
df_copy = df.copy()
train_set = df_copy.sample(frac= 0.8 , random_state=0)
test_set = df_copy.drop(train_set.index)

In [24]:
for col in df.columns: 
    print(col)

DATE
WTI
BRENT
INR
NIFTY

In [25]:
for i in range(0,len(df)): df.loc[i,col]